name: Deploy Laravel App

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_NAME }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.CUE_SSH_KEY }}
          script: |
           
            git pull origin main
            docker-compose up -d --build
            docker-compose exec -T app php artisan migrate --force
            docker-compose exec -T app php artisan config: cache
