name: Deploy Laravel App

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.CUE_SSH_KEY }} 
          REMOTE_HOST: ${{ secrets.HOST_NAME }} 
          REMOTE_USER: ${{ secrets.USERNAME }} 
          TARGET: ${{ secrets.TARGET_DIR }} 
